<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <ul id="menu">
        <li><a class="page-link" href="{{ site.baseurl }}/#landing" data-destination="landing">Home</a></li>
        <li><a class="page-link" href="/#about" data-destination="about">About</a></li>
        <li><a class="page-link" href="/#work" data-destination="work">Work</a></li>
        <li><a class="page-link" href="/#contact" data-destination="contact">Contact</a></li>
      </ul>

    </nav>

  </div>

</header>
