<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <div class="menu-icon-div"></div>
      </a>

      <ul id="menu">
        <li><a class="page-link light" href="{{ site.baseurl }}/#landing" data-destination="landing">Home</a></li>
        <li><a class="page-link light" href="/#about" data-destination="about">About</a></li>
        <li><a class="page-link light" href="/#work" data-destination="work">Work</a></li>
        <li><a class="page-link light" href="/#contact" data-destination="contact">Contact</a></li>
      </ul>

    </nav>

  </div>

</header>
