<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <div class="menu-icon-div"></div>
      </a>

      <ul>
        <li><a class="page-link" data-destination="landing" href="{{ site.baseurl }}/">Home</a></li>
        <li><a class="page-link" data-destination="about" href="/#about">About</a></li>
        <li><a class="page-link" data-destination="work" href="/#work">Work</a></li>
        <li><a class="page-link" data-destination="contact" href="/#contact">Contact</a></li>
      </ul>

    </nav>

  </div>

</header>
