.site-header {
  position: absolute;
  width: 100%;
  z-index: 3;

  .wrapper {
    padding: 0;
  }
}

.site-nav {
  text-align: center;

  li {
    display: inline-block;
    list-style: none;
  }

  .page-link { 
    color: $secondary-color;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1em;
    padding: 7px 8px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover {
      background-color: $primary-color;
    }
    
    @include media-query($medium-up) {
      padding: 7px 12px; 
    }
  }
}
