#landing {
  background-image: url('/images/pantheon_ceiling.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .headlines {
    position: absolute;
    top: 30%;
    right: 0;
    width: 40%;

    @include media-query($medium-only) {
      right: 10%;
      width: 50%;
    }

    @include media-query($small-only) {
      right: 5%;
      top: 15%;
      width: auto;
    }
  }

  h1 {
    font-family: "Open Sans";
    font-weight: 800;
    font-style: italic;
    font-size: 3em;
    color: $secondary-color;
    margin-bottom: 0;
  }

  h2 {
    font-family: Montserrat;
    font-size: 1.5em;
    color: $secondary-color;
    margin-left: 3em;
  }
}
