body {
  overflow: hidden;
}

#landing,
#about,
#work,
#contact {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 3em;
}

#about {
  ul {
    li {
      list-style: none;
      margin: 0 0 0.5em 2em;

      a {
        color: $primary-color;
        text-decoration: none;

        &:hover {
          color: lighten($primary-color, 30%);
        }
      }
    }
  }
}

#work, #contact {
  background-color: #323341;
  color: $secondary-color;
}

#work {
  .sample {
    width: 100%;
    padding: 1em;

    @include media-query($medium-only) {
      float: left; 
      width: -webkit-calc((100vw - #{$spacing-unit * 2}) / 2);
      width: calc((100vw - #{$spacing-unit * 2}) / 2);
      height: -webkit-calc((100vw - #{$spacing-unit * 2}) / 2);
      height: calc((100vw - #{$spacing-unit * 2}) / 2);  
    }

    @include media-query($large-up) {
      float: left; 
      width: -webkit-calc((#{$content-width} - #{$spacing-unit * 4}) / 2);
      width: calc((#{$content-width} - #{$spacing-unit * 4}) / 2);
      height: -webkit-calc((#{$content-width} - #{$spacing-unit * 4}) / 2);
      height: calc((#{$content-width} - #{$spacing-unit * 4}) / 2);
    }
  }

  .sample-info {
    padding: 1em;
  }
}

#contact {
  background-image: url('/images/maison.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  ul {
    text-align: center;
    line-height: 70vh;
  }

  li {
    display: inline-block;
    list-style: none;
    width: 4.25em;

    a {
      color: $secondary-color;

      span {
        display: none;
        margin: 0 auto;
        position: absolute;
        top: -5px;
        width: 4.25em;
      }

      &:hover {
        color: lighten($grey-color, 40%);

        span {
          display: block;
        }
      }
    }

    i {
      font-size: 3em;
    }
  }
}

.current {
  top: 0;
  left: 0;
  // transition: left 1s ease;
}

.on-left {
  left: -100%;
  // transition: left 1s ease;
}

.on-right {
  left: 200%;
  // transition: left 1s ease;
}

h1 {
  font-family: Montserrat;
}

.hide {
  display: none;
}

.no-match {
  display: none;
}